.materialHeder .materialTitle {
    font: 18px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}



.Materials.Material h1,
.Materials.Material h2,
.Materials.Material h3,
.Materials.Material h4 {
    height: 30px;
    padding: 0px 50px 0px 50px;
    font: bold 20px/30px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #7ea4ee;
    margin-bottom: 10px;
}

.materials_info_panel {
    font: 12px/14px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    text-align: right;
    padding: 0px 50px 0px 50px;
    color: #8E8E8E;
}