/* COMP Users */
.RegistrationForm {
    font: 13px/17px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #4f4f4f;
    line-height: 17px;
}
.RegistrationForm .RegistrationFormTable {
    width: 100%;
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Text{
    width: 40%;
    text-align: right;
    padding-right: 5px;
    vertical-align: middle;
} 
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input {
    width: 60%;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
}
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Text .text {
    font: 13px/17px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #4f4f4f;
    line-height: 17px;
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Text .info {
    font: 11px/15px "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #8f8f8f;
    line-height: 17px;
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input input[type=text],
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input input[type=password],
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input textarea,
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input .selectBox {
    width: 400px;
    margin: 5px 0px 5px 0px;
}

.RegistrationForm .RegistrationFormButton {
    font: 0.95em 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1b7fcc;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border: none;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px #fff;
}

.RegistrationForm .RegistrationFormButton:hover {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input input[type=text],
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input input[type=password],
.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input .selectBox {
    height: 20px;
    /*font-weight: bold;*/
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input textarea {
    height: 50px;
    min-height: 50px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    max-height: 300px;
    padding: 10px;
}

.RegistrationForm .RegistrationFormTable .RegistrationFormTable_Input .selectBox {
    width: 420px;
}

.RegistrationForm .mandatoryText {
    text-align: justify;
    margin: 5px 0px 5px 0px;
}
.RegistrationForm .agreements {
    text-align: justify;
}
.RegistrationForm .agreements .agreementsTitle{
    font: 16px/1 "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    /*text-shadow: 0 1px 0 #fff;*/
    font-weight: bold;
    text-align: left;
    color: #4f4f4f;
}

.RegistrationForm .agreements .agreementsText {
    overflow: auto;
    max-height: 400px;
    /*background: #dfdfdf;*/
    /*background: rgb(240,245,255);*/
    background: rgba(245,250,255,.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 3px rgba(255,255,255,1), 
        inset 0px 1px 5px rgba(0,0,0,0.5);
    margin: 5px 0px 5px 0px;
    /*text-shadow: 0 1px 0 #fff;*/
    color: #4f4f4f;
}

.RegistrationForm .agreements .agreementsText p {
    text-indent: 30px;
    text-shadow: 0 1px 0 #fff;
}
.agreementsCheckBox {
    text-align: center;
}
.agreementsDateOfChange {
    font: 13px/1 "PT Sans",helvetica,"segoe UI",arial,sans-serif;
    color: #1b7fcc;
    text-align: right;
    padding-right: 20px;
}
/* COMP Users - END */





input[type=submit], input[type=button] {
    font: 0.95em 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #1b7fcc;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border: none;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px #fff;
}

input[type=submit]:hover, input[type=button]:hover {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
}

input[type=button].bigButton {
    font: 20px/30px 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: bold;
}

input[type=file] {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
    background: rgb(245,250,255);
}

.captchaText {
    width: 165px;
}

.IMGLoadCaptcha {
    margin: 10px 0px 0px 0px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ff9;
}

.clear {
    clear: both;
}